#footer-nav-wrapper{
  position: fixed;
  bottom: 0;
  z-index: 100000;
  right: 0;
  width: 100%;
  height: auto;
  box-shadow: 0 -1vh 1vh -1vh $black;

  .navbar-wrapper{
    padding:0 !important;
  }
  
  ul#menu-footer{
    background-color: $black;
    width:100%;
    display:inline-block;
    text-align: center;
    margin:0;
    padding:0;

    li{
      display: inline-block;
      //margin-left: 1rem;
      //margin-right: 1rem;
      padding: 0 2vw;

      &:first-of-type{
        padding-left: 0;
      }

      &:last-of-type{
        padding-right: 0;
      }

      a{
        text-shadow: .1rem .1rem .25rem $copper;
        color: $gold;
        letter-spacing: .15rem;
        
        font-size: 2vw;
        line-height: 8vw;
        
        text-transform: uppercase;

        &:hover{
          text-shadow: 0.2rem 0.2rem 0.25rem $gold;
          text-decoration: none;
        }
      }

      @include media-breakpoint-up(lg){
        a{
          font-size: 1vw;
          line-height: 4vw;
        }
      }
    }
  }
}

.footer{
  padding-top:15vh;
  .bottom-bar {
    background: #343d49;
    color: rgba(255, 255, 255, 0.5);
    
    text-align: center;

    .copyright {
      display: block;
      font-size: 1.5vw;
      line-height: 3vw;
    }

    @include media-breakpoint-up(lg){
      .copyright{
        font-size: .9vw;
        line-height: 1.8vw;
      }
    }
  }
}

