body.home{
  #tharris-logo-header{
    opacity: 0;
    -webkit-transition: .25s ease-in;
    transition: .25s ease-in;
    filter: blur(10px);
    height:100%;

    &.viewable{
      opacity: 1;
      filter: blur(0px);
      -webkit-transition: 1s ease-in;
      transition: 1s ease-in;
    }
  }
}

#th-logo-header-wrapper{
  display: inline-block;
  height: 100%;
}

#tharris-logo-header{
  display: inline;
  max-height: 60%;
  max-width: 100%;
  top: 20%;
  height: auto;
  position: relative;

  img{
    height:100%;
    margin: 0 auto;
  }
}


.header{
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  height: 15vh;
  display: block;
  z-index: 10001;
  text-align: center;
  clip-path: polygon(100% 0, 100% 25%, 50% 100%, 50% 100%, 0 25%, 0% 0%);
  background: linear-gradient(to right, rgb(116,88,48) 0%, rgb(181,159,116) 35%, rgb(245,229,183) 63%, rgb(244,228,158) 87%, rgb(237,224,164) 96%, rgb(157,142,94) 99%, rgb(77,60,24) 100%);
  max-height: 15vh;

  &.header-shrink{
    max-height: 10vh;
  }
}

.page-header{
  text-align: center;
  
  h1{
    position: relative;
    font-size: 5rem;
    text-shadow: .1rem .1rem $brand-secondary;
  }
}
