button,
.btn {
  padding: 1rem;
  background: $brand-secondary;
  border: none;
  color: $brand-primary;
  letter-spacing: 4px;
  font-variant: small-caps;
  font-weight: bold;
  overflow:hidden;
   -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;

  .fa{
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    left: 1rem;
    margin-right: -1rem;
    color: $brand-secondary;
    -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  }

  &:hover {
    background: $brand-primary;
    border: none;
    color: $brand-secondary;
    text-decoration: none;

    .fa{
      left: 0;
      margin-right: 0;
    }

    &:after{

    }
  }
}