// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}


.form-group{
  label,
  input,
  textarea,
  select,
  option {
    color: $copper;
    font-family: $font-family-sans-serif;
    font-variant: small-caps;
    letter-spacing: .15rem;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: $font-family-sans-serif;
    
    letter-spacing: .15rem;
    color: rgba($copper, .5);
    font-variant: small-caps;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba($copper, .5);
    font-size: .8rem;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba($copper, .5);
    font-size: .8rem;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba($copper, .5);
    font-size: .8rem;
  }
}