
.gradient-outer{
  box-shadow: 0 0 15vh 10vh rgba($black, 1);
  background-color: rgba(0,0,0,.5);
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.gradient-outer-gold{
  box-shadow: 0 0 15vh 10vh rgba($gold, .1);
  background-color: rgba($gold,.1);
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.gradient-outer-gold-dense{
  box-shadow: 0 0 15vh 10vh  rgba($gold, .5);
  background-color: rgba($gold,.5);
  margin-top: 10vh;
  margin-bottom: 10vh;
}


.gradient-inner{
  box-shadow: inset 0 0 15vh 15vw $black, 0 0 15vh 15vw $black;
}


.gradient-inner-top{
  margin-top: 15vh;

  &:before{
    top: 0;
  }
}

.gradient-inner-bottom{
  margin-bottom: 15vh;

  &:after{
    bottom: 0;
  }
}

.gradient-inner-bottom:after,
.gradient-inner-top:before {
  content: "";
  box-shadow: 0 0 15vh 15vh rgba($black, 1);
  position: absolute;
  width: 100%;
  z-index: 10000;
}


.gradient-inner-gold{
  box-shadow: inset 0 0 15vh 5vw rgba($gold, .5);
  background-color: rgba($gold, .25);
  padding:5vh 5vw;
}

.gradient-inner-bottom-gold:after {
  content: "";
  box-shadow: 0 0 18vh 9vh rgba($gold, .5);
  position: absolute;
  width: 100%;
  background-color: rgba($gold,.25);
  bottom: 0;
   z-index: 10000;

}

.gradient-inner-top-gold:before {
  content: "";
  box-shadow: 0 0 18vh 9vh rgba($gold, .5);
  position: absolute;
  width: 100%;
  background-color: rgba($gold,.25);
  top: 0;
   z-index: 10000;
}