@include media-breakpoint-up(md){
  .html-section-wrapper .container-fluid{
    padding-right: 5vw !important;
    padding-left: 5vw !important;
  }
}

.html-section-wrapper .frame{
  padding: 5.4vw;
  background-color: rgba(255, 255, 255, .85);
  position: relative;
  
  &:before,
  &:after{
    content: '';
    position: absolute;
  }

  &:after {
    top: 1.8vw;
    left: 2.7vw;
    right: 2.7vw;
    bottom: 1.8vw;
    border-left: 1px solid $brand-primary;
    border-right: 1px solid $brand-primary;
  }

  &:before {
    top: 2.7vw;
    left: 1.8vw;
    right: 1.8vw;
    bottom: 2.7vw;
    border-top: 1px solid $brand-primary;
    border-bottom: 1px solid $brand-primary;
  }

  @include media-breakpoint-up(lg){
    padding: 3rem;
    
    &:after {
      top: 1rem;
      left: 1.5rem;
      right: 1.5rem;
      bottom: 1rem;
    }

    &:before {
      top: 1.5rem;
      left: 1rem;
      right: 1rem;
      bottom: 1.5rem;
    }
  }
}

.html-section{
  display: inline-block;
  
  .header-copy{
    text-shadow: .1rem .1rem $brand-secondary;
    font-variant: small-caps;
    text-align: left;
    color: inherit;
  }

  h1.header-copy{
    text-shadow: .1rem .1rem $brand-secondary;
    font-variant: uppercase;
    text-align: center;
    color: inherit;
    margin-bottom: 1.5rem;
  }

  .copy{
    p, ul{
      margin-bottom: 3rem;
    }

    p{
      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    ul{
      &.dont-believe-list,
      &.believe-list{
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }

      &.dont-believe-list{
        li{
          font-size: $font-size-base;
          line-height: $line-height-base;
          padding-bottom: .5em;
        }
      }

      &.believe-list{
        text-align: center;
        li{
          font-weight: bold;
          font-size: $font-size-lg;
          line-height: $font-size-lg;
          font-variant: small-caps;
          padding-bottom: 1em;
        }
      }
    }

    .believe-header{
      font-size: 4rem;
      line-height: 6rem;
      text-align: center;
      text-transform: uppercase;
    }

    .dont-believe-header{
      text-align: center;
      text-transform: uppercase;
    }

    @include media-breakpoint-up(lg){
      p, ul, li{
        //font-size: $font-size-base;
        //line-height: $font-size-lg;
      }

      ul{
        padding-left: 2.7vw;
        padding-right: 2.7vw;
      }

      p{
        text-align: justify;
      }
    }
  } 
}