.teasers-outer-wrapper{
  margin-top: 2.5vh;

  &.home{
    min-height:60vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

.teaser:hover .teaser-link-wrapper{
  height:100%;
  opacity:1;
  transition:.5s ease-in;
}

.teaser-link-wrapper{
  position: absolute;
  bottom: 0;
  left:0;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  height: 0;
  line-height: 3.5rem;
  max-height: 6.5rem;
  z-index: 10000;
  opacity:.5;
  overflow: hidden;
  transition:.2s ease-in;


  a.teaser-link {
    display: block;
    text-align: center;
    background-color: $copper;
    color: $gold;
    font-variant: small-caps;
    line-height: inherit;
    height: 100%;
    //box-shadow: 0 -1vh 10vh -1vh rgba($copper, .5);
  }
}


.teaser{
  padding: 1.5rem;

  .teaser-outer{
    background-color: rgba(255, 255, 255, .85);
    height:100%;
    position: relative;
    padding: 1.5rem;
  }

  .teaser-inner{
    padding: 1.5rem;
    position: relative;
    z-index: 2;
  }

  .frame{
    &:before,
    &:after{
      content: '';
      position: absolute;
    }

    &:after {
      top: 1rem;
      left: 1.5rem;
      right: 1.5rem;
      bottom: 1rem;
      border-left: 1px solid $brand-primary;
      border-right: 1px solid $brand-primary;
    }

    &:before {
      top: 1.5rem;
      left: 1rem;
      right: 1rem;
      bottom: 1.5rem;
      border-top: 1px solid $brand-primary;
      border-bottom: 1px solid $brand-primary;
    }
  }

  

  a:hover{
    text-decoration:none;
  }

  .icon-wrapper{
    text-align:center;
  }

  .icon{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $brand-primary;
    text-shadow: .1rem .1rem $brand-secondary;
  }

  .header-copy{
    text-align: center;
    text-shadow: .1rem .1rem $brand-secondary;
  }

  .copy{
    text-align: center;
    margin: .9rem 0 0
  }
}

@include media-breakpoint-down(lg){
  .teaser{
    padding: 0 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;

    .teaser-outer{
      padding:2vw;
    }
    
    .teaser-inner{
      padding: 5vw 5vw 0 5vw;
    }

    .copy{
      margin: 1rem 0 1rem 0;
    }
  }

  .frame{
    &:after {
      top: 2vw;
      left: 4vw;
      right: 4vw;
      bottom: 2vw;
    }

    &:before {
      top: 4vw;
      left: 2vw;
      right: 2vw;
      bottom: 4vw;
    }
  }

  .teaser-link-wrapper{
    position: initial;
    bottom: initial;
    left: initial;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2vw 2vw 2vw;
    opacity: 1;
    height: initial;
    line-height: 2rem;
    max-height: initial;
    z-index: 10000;
    overflow: initial;
  }
}



.teaser{
  .client, .partner{
    .teasers-inner-wrapper{
      display: block;
      width: 100%;
    }

    .teaser-inner{
      opacity:0;
      padding-top: 5rem !important;
      padding-bottom: 5rem !important;
      transition:.25s ease-in;
      border:1px solid #765a2f;
      margin:-2.5rem;
    }

    .frame{
      background-position: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-origin: content-box;
      padding: 2.5rem;
      margin: 0;
    }
  }

  &:hover{
    .client{
      .teaser-inner{
        opacity:1;
        background-color: hsla(0,0%,100%,.99);
        
      }
    }
  }

  .partner{
    .copy.category{
      font-variant: small-caps;
      font-size: $font-size-base;
      font-weight: bold;
      line-height: $font-size-lg;
    }
  }
}