section, article, header{
  .section-header{
    text-align: center;
    
    .header-copy{
      color: $brand-secondary;
    }

    .intro-copy{
      color: $brand-secondary;
    }
  }
}

section{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.wrap section:first-of-type{
  margin-top:0;
}

section:last-of-type{
  margin-bottom:0;
}