

/* GLOBAL
-------------------------------------------------- */

.no-padding{ padding: 0px !important; }
.no-margin{ margin: 0px !important; }
a{ text-decoration: none; }



/* GENERAL CAROUSEL
-------------------------------------------------- */


.carousels-outer-wrapper{
  position: relative;
  overflow: hidden;
  margin-bottom: 15vh;
  padding-bottom: 0vh;
}

.carousel-inner-wrapper{
  position: relative;
}

.homepage-slider .description{
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.carousel{
  //min-height:75vh;

  .title {
    text-shadow: .05em .05em .25em $copper;
    margin-bottom: 1rem;
    line-height: 1em;
    color: $gold;
  }

  .sub-title {
    line-height: 2.25rem;
    font-size: $font-size-lg;
    letter-spacing: .15rem;
    font-variant: small-caps;
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: $gold;
  }

  @include media-breakpoint-down(md){
    .sub-title {
      line-height: 1.5rem;
      font-size: $font-size-base;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }

  .carousel-control{
    width: 10vw;
    background-image: none;
    filter: none;
  }

  .carousel-control span.glyphicon {
    background-image: none;
    font-size: 4em;
    line-height: 1em;
    width: inherit;
    height: auto;
    top: auto;
    color: #FFF;
    position: relative;
    margin: 0px;
    left: 0px;
  }
}

.no-flexbox .carousel .carousel-control{ height: 100%; }
.no-flexbox .carousel .carousel-control span.glyphicon{ display: table-cell; vertical-align: middle; }

.no-textshadow .carousel .carousel-control,
.no-textshadow .carousel .carousel-control span.glyphicon{ 
  color: inherit;
}


.carousel .slider-item{

  > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image,
  .overlay,
  .container{ 
    height: inherit; 
    min-height: inherit;
    max-height: inherit; 
  }

  .button-wrapper {
    margin: 0px;
  }

  .overlay {
    height: inherit; // auto for not 100%
    min-height: initial;
    background-color: rgba(0, 0, 0, .75);
    bottom: 0px;
    left: 0px;
    padding:5vw;
  }

}


.slick-slide img {
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
}
