@include media-breakpoint-down(md){
  .testimonials-outer-wrapper .container-fluid{
    padding-right: 5vw !important;
    padding-left: 5vw !important;
  }
}

.testimonial{
  display: inline-block;
  
  &.gradient-outer-gold-dense{
    box-shadow: 0 0 5vw 5vw  rgba($gold, .5);
    background-color: rgba($gold,.5);
    margin: 15vh 10vw;
    padding: 2.5vh 2.5vw;
  }

  @include media-breakpoint-up(lg){
    box-shadow: 0 0 10vw 10vw  rgba($gold, .5);
    margin: 10vh 20vw;
    padding: 5vh 5vw;
  }


  .header-copy{
    text-align: center;
    text-shadow: .1rem .1rem $brand-secondary;
  }

  .copy{
    text-align: left;
    font-size: $font-size-base;
    line-height: $font-size-lg;
    letter-spacing: .15rem;
    font-variant: small-caps;
    text-shadow: .05em .05em .25em $copper;
    
  }

  @include media-breakpoint-up(lg){
    .copy {
      font-size: $font-size-lg;
      line-height: 3rem;
    }
  }

  .person{
    text-align: left;
    font-size: 1rem;
    margin-top:2rem;
    margin-bottom:.5rem;
    font-variant: small-caps;
  }

  .position-wrapper{
    text-align: left;
    font-size: 1rem;
    font-variant: small-caps;
  }

  .position{
    font-style: italic;
  }

  .company-name{
    font-weight: bold;
    color:inherit;

    a{
      color: $copper;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .logo-wrapper{
    margin: 0 auto 2.5vw auto;
    min-width: 200px;
    max-width: 50%;
  } 
}

.testimonials-outer-wrapper .carousel .slider-item{
  height:auto;
  overflow: hidden;
}

.testimonials-outer-wrapper .image-overlay {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  width: 160%;
  display: block;
  position: absolute;
  top: 0;
  left: -40%;
  opacity: .05;
  background-size: cover;
}