#wpadminbar{
  display:none;
}

body{
  background: url(http://77.104.152.211/~adamsaid/tharrisconsultants.com/wp-content/uploads/background-pattern.gif);
  background-attachment: fixed;
  .text-light{
    color: $brand-secondary;
  }
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  letter-spacing: .25rem;
  font-variant: small-caps;
}

h1, .h1, .sm-h1, 
h2, .h2, .sm-h2{ 
  letter-spacing: .5rem;
}

a:focus, a:hover {
  text-decoration: none;
}


.title-promo {
  text-align: center;
  padding: 0 20vw;
  position: relative;
  margin-top: 20vh !important;
  margin-bottom: 15vw;
}

.tharris-logo{
  max-width:100%;
}