// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/*
$grid-gutter-widths: (
  xs: 20vw,
  sm: 20vw,
  md: 20vw,
  lg: 20vw,
  xl: 20vw,
) !default;

$container-max-widths: (
  sm: 81vw,
  md: 82vw,
  lg: 83vw,
  xl: 84vw
) !default;
*/

$body-bg: #000 !default;

// Colors
$copper:  #765a2f !default;
$gold:  #f0dfaf !default;
$goldRGB:  #f0dfaf !default;
$brand-primary: $copper;
$brand-secondary: $gold;

// Fonts
$font-family-sans-serif: "baskerville-urw", sans-serif !default;

$font-size-base: 1.6rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   2rem !default;
$font-size-sm:   1.2rem !default;
$font-size-xs:   1rem !default;

$line-height-base: 1.5 !default; // Assumes the browser default, typically `16px`
$line-height-lg:   1.5 !default;
$line-height-sm:   1.5 !default;
$line-height-xs:   1.5 !default;

$headings-font-family:   "bebas-neue" !default;
$headings-font-weight:   300 !default;
$headings-color:         inherit !default;
$headings-line-height:   1.5 !default;
$headings-margin-bottom: 0 !default;

$font-size-h1: 4rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: .8rem !default;

$gold-gradient: linear-gradient(to right, rgb(116,88,48) 0%, rgb(181,159,116) 35%, rgb(245,229,183) 63%, rgb(244,228,158) 87%, rgb(237,224,164) 96%, rgb(157,142,94) 99%, rgb(77,60,24) 100%);
$gold-gradient-switch: linear-gradient(to left, rgb(116,88,48) 0%, rgb(181,159,116) 35%, rgb(245,229,183) 63%, rgb(244,228,158) 87%, rgb(237,224,164) 96%, rgb(157,142,94) 99%, rgb(77,60,24) 100%);
$gold-gradient-moz: -moz-linear-gradient(to right, rgb(116,88,48) 0%, rgb(181,159,116) 35%, rgb(245,229,183) 63%, rgb(244,228,158) 87%, rgb(237,224,164) 96%, rgb(157,142,94) 99%, rgb(77,60,24) 100%);
$gold-gradient-webkit: -webkit-gradient(to right, rgb(116,88,48) 0%, rgb(181,159,116) 35%, rgb(245,229,183) 63%, rgb(244,228,158) 87%, rgb(237,224,164) 96%, rgb(157,142,94) 99%, rgb(77,60,24) 100%);
$gold-gradient-webkit-linear: -webkit-linear-gradient(to right, rgb(116,88,48) 0%, rgb(181,159,116) 35%, rgb(245,229,183) 63%, rgb(244,228,158) 87%, rgb(237,224,164) 96%, rgb(157,142,94) 99%, rgb(77,60,24) 100%);
$gold-gradient-ms: -ms-linear-gradient(to right, rgb(116,88,48) 0%, rgb(181,159,116) 35%, rgb(245,229,183) 63%, rgb(244,228,158) 87%, rgb(237,224,164) 96%, rgb(157,142,94) 99%, rgb(77,60,24) 100%);
$gold-gradient-o: -o-linear-gradient(to right, rgb(116,88,48) 0%, rgb(181,159,116) 35%, rgb(245,229,183) 63%, rgb(244,228,158) 87%, rgb(237,224,164) 96%, rgb(157,142,94) 99%, rgb(77,60,24) 100%);


